/**
* Layout styles
*/

.portfolio_item {
}

.portfolio_item:hover {
	opacity: 0.8;
}

/**
* Individual
*/

.SlackCloneChatView {
	background:#fff url(assets/SlackCloneChatViewFinal.png) top no-repeat;
}

.Spotify3xWelcomePage {
	background:#fff url(assets/Spotify3xWelcomePage.png) top no-repeat;
}

.Spotify3xPlaylist {
	background:#fff url(assets/Spotify3xPlaylistPage.png) top no-repeat;
}
